<span class="node-label nesting-level-{{nestingLevel}}" {{action 'labelClicked' node}}>
  {{node.label}}
</span>

{{#if node.children.length}}
  {{the-tree tagName="ul" tree=node nestingLevel=nextNestingLevel
    onNodeLabelClicked=onLabelClicked
  }}
{{/if}}
